.index {
    padding: 0 40px;
    .title {
        height: 160px;
        line-height: 160px;
        text-align: center;
        color:#6190E8;
        font-size: 40px;
    }
    .btn {
        margin-top: 40px;
    }
    .step {
        font-size: 30px;
        line-height: 50px;
    }
    .content {
        position: relative;
        color: #999;
        .input {
            border: 1px solid #ccc;
            height: 100%;
            padding-left: 10px;
            font-size: 25px;
        }
        .delete {
            position: absolute;
            top: 0;
            right: 0;
            width: 10%;
            text-align: center;
        }
    }
}
